body {
   margin: 0;
   padding: 0;
   font-family: 'Roboto Mono', monospace;
   font-size: 0.8rem;
}
a {
   text-decoration: none;
}

main {
   /* margin: 160px 30px 30px;  */
   font-family: 'Roboto Mono', monospace;
   font-size: 1.2rem;
   color: #000;

}

.top-notification-content{
   width: 100%;
   background-color: #e8c264;
   padding: 10px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

   .top-notification-link {
      font-weight: 500;
      font-size: 0.96rem;
      position: relative;
      text-decoration: none;
   }
   
      .top-notification-link::after {
         content: "";
         position: absolute;
         width: 100%;
         transform: scaleX(0);
         height: 1px;
         bottom: 0;
         left: 0;
         background-color: #5f5d6d;
         transform-origin: bottom right;
         transition: transform 0.4s ease-out;
      }
   
      .top-notification-link:hover::after {
         transform: scaleX(1);
         transform-origin: bottom left;
      }
      .top-notification-link:hover {
         text-underline-offset: 4px;
         opacity: 0.7;
      }
.navigation-cloud {
         display: flex;
         justify-content: space-between;
         align-items: center;
}

.company-header-logo {
   flex: 1;
}

.company-header-logo .company-logo-picture {
   width: 15rem;
   margin-left: 4.4rem;
   margin-top: 1rem;/* 16px; */
   opacity: 0.8;
   }



.navigation-cloud-section {
   display: flex;
   flex: 1;
   flex-direction: column;
   justify-content: center;
   align-items: stretch;
}

.top-navigation-cloud {
   display: flex;
   flex: 1;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 0;
   font-family: 'montserrat', sans-serif;
   font-size: 0.7rem;
   color: #000;
   font-weight: 600;
}

   .site-selector > .site-selector-flag {
      position: relative;
      top: 2px;
      width: 20px;
      height: 16px;
      margin-top: 4px;
      background-size: contain;
      background-repeat: no-repeat;         border-radius: 3px;
      align-self: center;
      background-image: url(./ethiopia.svg);
      display: inline-block;
   }

   .site-selector-flag > .country-site-lang { 
      margin: 0;
   }

   .site-section-selector {
      width: 6rem;
   }
   .user-register-link {
      flex: 1;
   }

   .user-signup-link {
      position: relative;
      left: -5px;
   }

   .notification-nav {
      flex: 1;
      position: relative;
   }

   .notification-count {
      position: absolute;
      top: 0;
      left: 8.6px;
      color: #fff;
      background-color: rgb(222, 0, 0);
      padding: 0 3px;
      border-radius: 50%;
      font-size: 0.6rem;
   }

   .search-navigation {
      width: 15rem;
   }

   .top-navigation-cloud .fa-user,
   .top-navigation-cloud .fa-bell,
   .top-navigation-cloud .fa-magnifying-glass,
   .bottom-navigation-cloud .fa-bars {
      font-size: 1.2rem;
      line-height: 1.1rem;
      color: #6e6d6d;
      position: relative;
      top:2px;
      /* z-index: 0; */

   }

   .fa-bars {
      z-index: 0;
   }

  
.bottom-navigation-cloud {
   display: flex;
   flex: 1;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 1.7rem;
   font-family: 'montserrat', sans-serif;
}

   .booking-section {
      width: 9.5rem;
   }

   .checking-section {
      width: 7rem;
   }

   .loyalty-section {
      width: 9rem;
   }

   .help-section {
      width: 7.1rem;
      cursor: help;
   }
   
   .menu-section {
      flex: 1;
   }

   .bottom-navigation-cloud .booking-link,
   .bottom-navigation-cloud .checking-link,
   .bottom-navigation-cloud .loyalty-link,
   .bottom-navigation-cloud .help-link,
   .bottom-navigation-cloud .menu-link,
   .bottom-navigation-cloud .fa-bars {
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.1rem;
      color: #000;
   }

.search-navigation input[type="checkbox"] {
   display: none !important;
   /*it hides radio button*/
}

.search-navigation label {
   display: block;
   /* position: sticky; */
}

.accordion:last-child>label,
.accordion:last-child>.search-tooltip {
   border: none;
}

.search-navigation label {
   position: relative;
   top: 0px;
   bottom: 100px;
}

.search-tooltip {
   border-bottom: solid 1px black;
   padding: 1px;
   /* display: none; */
}

/* displays the accordion content when the label is clicked on or the input is checked  and if it is not hidden*/
input:checked~.search-tooltip {
   display: block;
   position: fixed;
   z-index: 9999;
}

input:not(:checked)~.search-tooltip {
   display: none;
}

.tooltip-container {
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;

}

#search-nav-input {
   width: 560px;
   background-color: white;
   border-radius: 0;
   margin-left: -31.5rem;
   padding: 10px 15px;
   position: relative;
   outline: none;
   top: 10px;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
   z-index: 9999;
}

#search-nav-input::placeholder {
   font-size: 1.2rem;
}

#search-nav-input:focus {
   outline: none;
}

#et-search-btn {
   display: inline-block;
   padding: 9.5px 30px;
   position: absolute;
   top: .6rem;
   left: 4.5rem;
   border-radius: 0;
   box-shadow: 3px 3px 10px rgba(237, 105, 22, 0.888);
   z-index: 9999;
}




   /*==========================
         FEEDBACK-BUTTON
   ==========================*/

#feedbackTab {
   position: fixed;
   right: 0;
   width: 32px;
   height: 150px;
   top: 60%;
   z-index: 99;
   transform: rotate(270deg);
}

#feedbackTab .btn-outline-radius-et {
   border: 1px solid #82AAE3;
   color: #000;
   background-color: #fff;
   border-radius: 20px;
   padding-right: 1.5rem;
   padding-left: 1.5rem;
   margin: 2rem auto;
   font-size: 16px;
   font-weight: 500;
}
#feedbackTab .btn-outline-radius-et:hover {
   background-color: #3A4F7A;
   color: #fff;
   box-shadow: 0 5px 10px #ccc;
}


@media (min-width: 920px) {
   .menu-section {
      display: none;
   }
}


@media (max-width: 920px) {
   #feedbackTab .btn-outline-radius-et{  
      display: none;
   }
}
